.structure{
  max-width: 1617px;
  margin: 80px auto;
  padding: 0 100px 50px 100px;
}

.structurelink {
  display: flex;
}

.structuretext h1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: #000000;
  margin: 16px 0 !important;
}

.structurelink a{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3D3D3D;
}

.structurelink p{
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3D3D3D;
}

.structuretext img{
  width: 100%;
  height: auto;
}


@media (max-width: 1024px) {
  .structure {
    margin: 50px auto;
    padding: 0 2rem 50px 2rem;
  }
  .structuretext h1{
    font-size: 25px;
  }
}