.about {
  max-width: 1517px;
  padding: 0 100px;
  margin: 80px auto;
}

.aboutlink p {
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3D3D3D;
}
.aboutlink{
  display: flex;
}

.aboutlink a{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3D3D3D;
}


.abouttext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.abouttext img {
  width: 100% !important;
  height: auto;
  margin-bottom: 70px;
  margin-top: 30px;
}

.abouttexts h1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  color: #404040;
} 

.abouttexts p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

@media (max-width: 1024px) {
  .about {
    padding: 0 2rem !important;
  }
}

@media (max-width: 678px) {
  .abouttext img{
    margin: 0;
  }
  .abouttext h1{
    font-size: 25px;
  }
}