.bosses {
  max-width: 1517px;
  padding: 0 100px;
  margin: 80px auto;
}

.bossimg {
  margin-right: 40px;
}

.boss {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}

.boss h1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 46px;
  margin: 0;
  color: #000000;
}

.bosseslink{
  display: flex;
  align-items: center;
}

.bosscard p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 15px;
  color: #000000;
}

.bosscard span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #404040;
  margin-bottom: 15px;
}

.boss img {
  margin-right: 16px;
}

.bosscard {
  padding: 25px;
  overflow: hidden;
}

.bosseslink a{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3D3D3D;
}

.bosseslink p{
  margin: 0;
  padding: 0;
}





@media (max-width: 1024px) {
  .bosses {
    padding: 0 2rem !important;
  }
  .bosseslink{
    margin: 0;
  }
}

@media (max-width: 768px) {
  .bossimg {
    margin-right: 0px;
  }
  .boss {
    margin: 0;
  }
}