

body {
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}

.ant-form-item {
  margin-bottom: 0 !important;
}

.carousel-slider ul{
  margin: 0px !important  ;
}

.ant-drawer-title {
  position: absolute;
  right: 20px !important;
}

.back a{
  width: 103px;
  height: 40px;
  margin-top: 40px;
  background: #FF2059;
  border-radius: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500 !important;
  font-size: 17px !important;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF !important;
}

.ant-menu-title-content a {
  text-decoration: none !important;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000 !important;
}

.ant-menu-title-content p{
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}

a{
  text-decoration: none !important;
  
}