.homepage {
  position: relative;
  max-width: 1517px;
  max-height: 100vh; 
  display: flex;
  padding: 250px 0 125px 0 ;
  margin:  0 auto;
  background-image: url('../../../../public/homeheader/header.svg');
  background-size: 100% auto;
  background-position-x: center;
  background-position-y: center;
  background-position: left;
  background-repeat: no-repeat;
  top: -78px;
}

.container {
  max-width: 1517px;
  margin:  0 auto;
  padding: 0 100px !important;
}

.navigat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  background: #FFFFFF;
  backdrop-filter: blur(2px);
  border-radius: 30px;
  height: 150px;
  margin-left: 20px;
  position: absolute;
}

.headertext {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 115%;
  display: flex;
  color: #FFFFFF;
}

.headertext h2{
  font-size: 32px;
}

.headertext h1{
  margin-bottom: 32px;
}

.headertext p {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
} 

.headertext button {
  margin-top: 54px;
  width: 103px;
  height: 40px;
  background: #20AFFF;
  border-radius: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.headertext button:hover {
  color: #20AFFF !important;
  border-color: #20AFFF !important;
  background-color: #FFFFFF;
}

@media (max-width: 1024px) {
  .homepage {
    width: 100%;
    height: 45vh !important;
    background-size: cover !important;
    /* overflow: hidden; */
    padding: 150px 0 150px 0;
  }
  .homepage h2{
    font-size: 30px;
  }
  .homepage p{
    margin: 20px 0;
  }

  .headertext {
    width: 60%;
  }

  .navigat {
    display: none;
  }

  .container {
    padding: 0 3.1rem !important;
  }
}


@media (max-width: 670px) {
  .homepage{
    height: 70vh !important;
    background-size: cover;
    padding: 180px 0 120px 0 !important;
  }

  .headertext {
    width: 100%;
  }

  
}